.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.header-candidate {
	display: flex;
}

.banner-candidate {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
}

.cand-wrapper {
	display: flex;
    flex-direction: column;
    padding: 2vh 6vh;
    background: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.candidate-status {
	text-align: center;
    margin: auto;
    margin-bottom: 2vh;
    padding: 1vh;
    border-radius: 0px 12px 0px 12px;
    box-shadow: 3px 2px 1px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 3vh;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    width: 40%;
}

.candidate-photo {
	display: flex;
}

.fa-arrow-left {
	font-size: 4vh;
    margin-left: -4vh;
}

.deputy {
	margin: 4vh 0vh 1vh 0vh;
	font-size: 3vh;
}

.district-header {
	margin:auto;
	font-size: 4vh;
}

.candidate {
	font-size: 4vh;
    margin: 1vh 0vh;

}

.candidate-img {
	margin: 4vh auto 3vh auto;
    border-radius: 50% !important;
}

@media (max-width: 544px) {
	
	.candidate-status {
    	font-size: 23px;
    	width: 70%;
    	padding: 1vh;
	}

	.candidate-img {
    	margin: 4vh auto 4vh auto;
    	width: 59%;
	}
	.button {
	display: flex;
	flex-direction: column;
	}
	.but {
		margin: 2vh 4vh;
	}

	.text-cand {
		margin: 11vh 0vh -1vh;
	}

	.files {
		margin: 4vh 0vh;
	}

	.audit-text {
		font-size: 2vh;
		margin: 1vh;
	}

	.audit {
	   border: solid;
	   padding: 1vh;
	   font-size: 2vh;
    	margin: 10vh 1vh
	}
}

@media (min-width: 545px) {
	.candidate-img {
		width: 50%;
	}


	.button {
	display: flex;
	margin-bottom: 5vh;
	}

	.but {
		margin: 0.5vh;
	}

	.text-cand {
		  margin: 11vh 0vh 3vh 0vh;
	}

	.files {
		margin: 1vh -1vh 5vh;
	}

	
	.audit {
	   border: solid;
	   padding: 1vh;
	   font-size: 2vh;
	}

	.audit-text {
		font-size: 1.5vh;
		margin: 1vh;
	}
}


@media (min-width: 992px) {
	.candidate-img {
    	width: 35%;
	}
}



.fa-trash-alt {
    margin-left: 2vh;
}

