.status-desc-xs {
  height: 5vh;
  font-size: 3.2vh;
  background-color: cadetblue;
}

.show-photo-xs {
   width:90%;
  border:solid;
  margin:3vh 3vh;
  height: 50vh;
}

.text-cand-xs {
  margin: 3vh;
}